@import url('https://fonts.googleapis.com/css?family=Asap:400,500,600,700');
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #121212;

}
.header{
  font-family:'Asap', sans-serif;
  text-align: center;
  background: white;
  padding: 8px 0;
}
.container{
width: 300px;
height: 300px;
margin: 120px auto;
background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
box-shadow: 1px 2px 3px #111;
border-radius: 4px;
color: white;
}
.content{
  color: white;
  font-family:'Asap', sans-serif;
  font-weight: bold;
  font-size: 44px;
  text-align: center;
  position: relative;
  top: 40%;
}
